.somos-div{
    display: flex;
    justify-content: center;

}
.somos-p{
    width: 80%;
    color: #444;
    font-family: 'Big Shoulders Display';
    text-align: center;
    
}
.logo{
    margin-top: 80px;
}

.techA{
    color: #6034ff;
    font-family: 'Big Shoulders Display';
    text-shadow: #0000a7a4 0 0 20px;
    -webkit-text-stroke: #0000a7a4 .5px;
}

.sub-parrafo{
    width: 80%;
    color: #666;
    font-family: 'Big Shoulders Display';
    text-align: center;
}

@media screen and (min-width:769px) {
    .somos-div{        
    margin-top: 100px;
        
    }
    .somos-p{
        font-size: 40px;
    }
    .sub-parrafo{
        font-size: 20px;
    }
}



@media screen and (max-width:769px) {
    .somos-div{
        margin-top: 0;
    }
    .somos-p{
        font-size: 27px;
    }
    .sub-parrafo{
        font-size: 15px;        
    }
}