body {
  background-image: url(./Imagenes\ Web/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
}
img { 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.filtro{
  display: none;
}

::-webkit-scrollbar{
  background-color: rgb(255, 255, 255);
  width: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #6034ff;
  border-radius: 20px;
}
a {
  text-decoration: none;
}

.search-logo {
  display: flex;
  justify-content: space-between;
  /* top: 10px; */
}


/* buscar */
.search-div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
}

.search-input {
  width: 100%;
  max-width: 500px;
  min-width: 340px;
  height: 50px;
  padding-left: 50px;
  padding-right: 20px;
  border: 0;
  border-radius: 25px;
  box-shadow: #0000002d 2px 2px 4px;
  outline: none;
}

.search-lupa {
  width: 28px;
  display: inline;
  position: relative;
  justify-content: center;
  left: 45px;
}


/* logo */
.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 12%;
  margin-top: 70px;
}

.ta {
  color: #6034ff;
  font-family: 'Big Shoulders Display';
  font-size: 75px;
  text-shadow: #0000a7a4 0 0 20px;
  -webkit-text-stroke: #0000a7a4 .5px;
  display: flex;
  justify-content: center;
}

.taa {
  margin-top: -65px;
}

.yam {
  color: #fff;
  font-family: 'Dancing Script';
  font-size: 60px;
  text-shadow: #000 0 0 1px;
  margin-top: -94px;
  margin-left: 38px;
  display: flex;
  justify-content: center;
}


/* cards */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 250px;
  max-width: 90%;
  border-radius: 0;
  border: 0;
}
.div-img{
  height: 100%;
  display: flex;
  align-items: center;
}
.card-body{
  display: flex;
  align-items: end;
}

.card-title, .card-text{
  text-align: center;
}
.card-title{
  font-size: 18px;
}

.presio {
  color: #6034ff;
  margin-bottom: -10px;
  text-align: end;
  font-size: 25px;
}

@media screen and (max-width:1200px) {
  .search-logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  }

  .search-div {
    width: 90%;
    margin-left: 0;
    justify-content: center;
  }

  .logo {
    margin-right: 0;
    justify-content: center;
  }
}


@media screen and (max-width:556px) {
  .card {
    margin: 0.4px !important;
  }
}

/*navegacion*/
.nav-li {
  font-family: 'Big Shoulders Display';
  font-size: 30px;
  list-style: none;
}


@media screen and (min-width:769px) {
  ::-webkit-scrollbar{
    width: 15px;
  }

  #btn,
  .nav-btn {
    display: none;
  }

  label {
    display: inline;
  }

  .nav-cont {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 20;
    transition: top 0.3s linear;
  }

  .nav-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-a {
    color: #00031b;
    position: relative;
    margin: 0 23px;
  }

  #comoComprar{
  width: 207px;
  height: 48px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

  .nav-a:hover {
    color: #6034ff;
  }
  .flechaNav{
    height: 0;
    visibility: hidden;
  }
}


@media screen and (max-width:768px) {
  ::-webkit-scrollbar{
    width: 5px;
  }
  
  .nav-cont {
    background-color: rgb(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 30;
    visibility: hidden;
    animation: navbars .5s linear;
  }
  @keyframes navbars {
    0% {
      right: 0;
      visibility: visible;      
    }
    100% {
      right: 100%;
    }
  }  

  #btn:checked~*.nav-cont {
    visibility: visible;
    position: absolute;
    z-index: 30;
    animation: navbar .5s linear;
    position: fixed;
  }
  @keyframes navbar {
    0% {
      right: 100%;
    }
    100% {
      right: 0;
    }
  }

  #btn {
    display: none;
  }
  
  [for="btn"] {
    position: relative;
    top: 84vh;
    display: flex;
    justify-content: flex-end;
    z-index: 30;
    transition: top 0.3s linear;
  }
  .btn-nav{
    margin-right: 20px;
    z-index: 40;
  }

  
  .nav-btn {
    width: 50px;
    filter: drop-shadow(#000 0px 0px 4px);
    position: fixed;
    z-index: 30;
    transition: bottom 0.3s linear;
  }

  
  #btn:checked~* .nav-btn {
    animation: btnn .5s linear;
    animation-fill-mode: both;
  }
  @keyframes btnn {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(315deg);
    }
  }
  
 .nav-btn{
      animation: btn .5s linear;
  }
  @keyframes btn {
    0% {
      transform: rotate(315deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .nav-ul{
    padding-left: 0;
  }
  
  .nav-li:hover {
    border-left: solid 5px #ddd;
    background-color: rgba(0, 0, 0, .8);
  }

  .nav-li{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #comoComprar{
    width: 207px;
    height: 0px;
    margin: 0 auto;
    padding: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
  }

  .card{
    width: 200px;
  }
}


/* .ventanaE{
  width: 100vw;
  height: 100vh;
  background: #000b;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  flex-direction: column;
  z-index: 100;
}
.ventanaE-c{
  width: 300vw;
  position: relative;
  left: 100vw;
  display: flex;
  flex-direction: row;
}
.ventanaE-c-img{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.ventanaE-img{
  height: 40vh;
}

.ventanaE-btn{
  width: 50%;
  max-width: 300px;
  height: 40px;
  background-color: #22f;
  color: white;
  margin-top: 25vh;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.ventanaE-btn:active{
  background-color: #00f;
} */